<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
</head>
<body>
	<header class="main-header" th:fragment="header">
		<!-- Logo -->
		<a href="index2.html" class="logo"> <!-- mini logo for sidebar mini 50x50 pixels -->
			<span class="logo-mini"><b>QL</b>TC</span> <!-- logo for regular state and mobile devices -->
			<span class="logo-lg"><b>Quản lý tài chính</b></span>
		</a>

		<!-- Header Navbar -->
		<nav class="navbar navbar-static-top" role="navigation">
			<!-- Sidebar toggle button-->
			<a href="#" class="sidebar-toggle" data-toggle="push-menu"
				role="button"> <span class="sr-only">Toggle navigation</span>
			</a>
			<!-- Navbar Right Menu -->
			<div class="navbar-custom-menu">
				<ul class="nav navbar-nav">
					<!-- User Account Menu -->
					<li class="dropdown user user-menu">
						<!-- Menu Toggle Button --> <a href="#" class="dropdown-toggle"
						data-toggle="dropdown"> <!-- The user image in the navbar-->
							<span class="hidden-xs"
							th:text="${#authentication.getPrincipal().getFullName()}">Alexander
								Pierce</span>
					</a>
						<ul class="dropdown-menu">
							<!-- Menu Footer-->
							<li class="user-footer"><a href="/">One</a></li>
							<li class="user-footer"><a
								th:href="@{/j_spring_security_logout}">Đăng xuất</a></li>
						</ul>
					</li>
					<!-- Control Sidebar Toggle Button -->
				</ul>
			</div>
		</nav>
	</header>

</body>
</html>